<template>
  <div class="w-full min-h-screen">
    <div class="w-full h-30 bg-black-chinese grid place-items-center">
      <h3 class="text-3xl text-white-default">The Blog Channel</h3>
    </div>
    <div
      class="w-full h-screen fixed top-0 z-50 bg-black-default-40"
      v-if="dialogVisible"
    >
      <div class="w-150 min-h-100 p-16 h-max mx-auto flex flex-col items-center
      mt-20 bg-white-default relative">
        <div
          @click="dialogVisible=false"
          class="w-6 h-6 absolute cursor-pointer right-6 top-6"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19 19L15 15M5 5L9 9" stroke="#7A869A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5 19L19 5" stroke="#7A869A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </svg>
        </div>
        <div class="w-3/6 relative rounded-md">
          <img
            :src="articleActive.urlToImage" alt=""
            class="w-full h-auto rounded"
          />
        </div>
        <h1
          v-text="articleActive.title"
          class="text-base mt-4 text-black-default font-bold line-clamp-2"
        />
        <div class="w-full flex mt-8 flex-row items-center justify-between">
          <p
            v-text="articleActive.author"
            class="text-black-dark w-3/6 text-sm line-clamp-1"
          />
          <p
            v-text="formatTime(articleActive.publishedAt)"
            class="text-black-dark text-sm line-clamp-1"
          />
        </div>
        <p
          v-text="`Description: ${articleActive.description}`"
          class="text-black-dark text-sm mt-4"
        />
        <div
          v-html="`Content: ${articleActive.content}`"
          class="text-black-dark text-sm mt-4"
        />
        <a
          :href="articleActive.url"
          target="_blank"
          class="mt-8"
        >
          <button>View Detail</button>
        </a>
      </div>
    </div>
    <div class="w-full max-w-304 pb-20 mx-auto mt-10 px-10 flex flex-wrap bg-white-default">
      <div
        v-for="(item, index) in articles"
        :key="index"
        class="w-1-4-32 cursor-pointer mr-8-nth-4 p-2 bg-white-scheme rounded-lg mb-4"
        @click="onShowDetail(item)"
      >
        <div class="w-full relative pt-3/6 rounded-md">
          <img
            :src="item.urlToImage" alt=""
            class="w-full h-full absolute top-0 left-0 rounded"
          />
        </div>
        <div class="w-full mt-3 px-2">
          <h1
            v-text="item.title"
            class="text-base text-black-default line-clamp-2"
          />
          <div class="w-full flex flex-row items-center justify-between">
            <p
              v-text="item.author"
              class="text-black-dark w-3/6 text-sm line-clamp-1"
            />
            <p
              v-text="formatTime(item.publishedAt)"
              class="text-black-dark text-sm line-clamp-1"
            />
          </div>
        </div>
      </div>
      <div class="w-full">
        <button
          v-if="!isLoading"
          @click="loadingMore"
          class="w-max px-3 cursor-pointer rounded-lg mt-8 mx-auto block py-2 bg-black-default-40 text-white-default text-base"
        >View More</button>
      </div>
    </div>
  </div>
</template>

<script>
import {getEverything} from "../configs/api";

export default {
  data() {
    return {
      articles: [

      ],
      dialogVisible: false,
      articleActive: {
        "source": {
          "id": null,
          "name": "Blogspot.com"
        },
        "author": "noreply@blogger.com (Unknown)",
        "title": "Urgent Apple warning issued to 1.65BILLION iPad and iPhone users as privacy concerns mount – see if you are at risk",
        "description": "An urgent warning is  issued for iPad and iPhone users due to looming privacy and security concerns. Apple developer Kosta Eleftheriou announced that the App Store is home to a number of illegal movie streaming services. Movie trailers and photo filters to fo…",
        "url": "https://techncruncher.blogspot.com/2022/01/urgent-apple-warning-issued-to.html",
        "urlToImage": "https://blogger.googleusercontent.com/img/a/AVvXsEgmxOoLI51HCB42MF_okinAfFuI-F0-3GztmEeGbG7lVDH7EOm0qJQ48emwaUEi9DHZyYtixcj5qcnTs05HmUOh6m4oS6uGZo9m6e8tObx0VYDKYTctdCs-41rNv9pmKEOj-QXNBLO9JAoQ5GN8b9lqjstfs-5cMJtDxHVXcFN2e4iRvPP3FSrKY-i3pA=w1200-h630-p-k-no-nu",
        "publishedAt": "2022-01-01T16:05:00Z",
        "content": "An urgent warning is  issued for iPad and iPhone users due to looming privacy and security concerns. Apple developer Kosta Eleftheriou announced that the App Store is home to a number of illegal movi… [+1263 chars]"
      },
      page: 1,
      isLoading: true
    }
  },
  created() {
    this.articles = [];
    this.fetchData();
  },
  methods: {
    fetchData() {
      getEverything({
        q: 'apple',
        from: '2022-01-01',
        to: '2022-01-01',
        sortBy: 'popularity',
        apiKey: 'c97742ad6cc24bd3b8821aad55cfd91d',
        pageSize: 20,
        page: this.page
      }).then((res) => {
        if (res.status === 'ok') {
          res['articles'].forEach((item)=>{
            this.articles.push(item);
          })
        }
        this.page++;
        this.isLoading = false;
      }).catch((e) => {
        console.log(e);
      });
    },
    formatTime(time) {
      const date = time.substr(11, 5);
      const day = time.substr(8, 2);
      const month = time.substr(5, 2);
      return `${date} ${day}-${month}-${time.substr(0, 4)}`;
    },
    handleClose() {
      this.dialogVisible = false;
    },
    onShowDetail(item) {
      this.articleActive = item;
      setTimeout(() => {
        this.dialogVisible = true;
      }, 300);
    },
    loadingMore() {
      this.fetchData();
    }
  }
}
</script>
