.mr-8-nth-4 {
  margin-right: 1rem;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.pt-3\/6 {
  padding-top: 50%;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
